/* :root {
    --primary-color: #212121;
    --background-color: #111;
    --font: sans-serif;
  } */

/* * {
    margin: 0;
    padding: 0;
  } */

/* body {
    background: var(--background-color);
    font-family: var(--font);
    display: flex;
    justify-content: center;
  } */

/* Timeline Container */
.timeline {
  background: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  height: 630px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.timeline::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, Opera */
}

/* Card container */
.card {
  position: relative;
  max-width: 400px;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 40px 0 40px 30px;
}
.card:nth-child(even) {
  padding: 40px 30px 40px 0;
}
/* Global ::before */
.card::before {
  content: "";
  position: absolute;
  width: 52%;
  border: solid #15b5fc;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: -11px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: -11px;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  background: white;
  color: black;
  border-radius: 10px;
  padding: 10px 10px 22px;
}

/* p {
  font-family: sans-serif;
  font-size: 14px;
  padding-left: 5px;
} */

/* Title of the card */
.title {
  color: #15b5fc;
  position: relative;
  padding-bottom: 15px;
  font-family: sans-serif;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 42px;
  height: 50px;
  background: white;
  border-radius: 999px;
  border: 3px solid #15b5fc;
  content: attr(data-year);
  font-size: 17px;
  font-weight: 500;
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .title {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
  left: -75px;
  display: flex;
  align-items: center;
  padding-left: 7px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .title::before {
  right: -75px;
  display: flex;
  align-items: center;
  padding-left: 7px;
}
