.timeline {
    background: var(--primary-color);
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    height: 630px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
  }
  .timeline::-webkit-scrollbar {
    display: none;
  }
  .card {
    position: relative;
    max-width: 400px;
    width: 100%;
  }
  .card:nth-child(odd) {
    padding: 40px 0 40px 30px;
  }
  .card:nth-child(even) {
    padding: 40px 30px 40px 0;
  }
  .card::before {
    content: "";
    position: absolute;
    width: 52%;
    border: solid #15B5FC;
  }
  .card:nth-child(odd)::before {
    left: -11px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }
  .card:nth-child(even)::before {
    right: -11px;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
  }
  .card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
  .card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  .card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  .info {
    display: flex;
    flex-direction: column;
    background: white;
    color: black;
    border-radius: 10px;
    padding: 10px 10px 10px;
  }
  .title {
    color: #15B5FC;
    position: relative;
    font-family: sans-serif;
    margin-top: 5px;
  }
  .title::before {
    content: "";
    position: absolute;
    width: 42px;
    height: 50px;
    background: white;
    border-radius: 999px;
    border: 3px solid #15B5FC;
    content: attr(data-year);
    font-size: 17px;
    font-weight: 500;
  }
  .card:nth-child(even) > .info > .title {
    text-align: right;
  }
  .card:nth-child(odd) > .info > .title::before {
    left: -75px;
    display: flex;
    align-items: center;
    padding-left: 7px;
  }
  .card:nth-child(even) > .info > .title::before {
    right: -75px;
    display: flex;
    align-items: center;
    padding-left: 7px;
  }
  @media only screen and (min-width: 375px) {
.timeline{
    background: var(--primary-color);
    margin: 20px auto;
    padding: 175px 0px;
    display: flex;
    justify-content: center;
    height: 180px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
    margin-left: -10px;
}
.card {
    position: relative;
    max-width: 200px;
    width: 100%;
  }
  }
  @media only screen and (min-width: 430px) {
    .timeline{
        background: var(--primary-color);
        margin: 20px auto;
        padding: 97px 0px;
        display: flex;
        justify-content: center;
        height: 228px;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        width: 100%;
        margin-left: -10px;
    }
    .card {
        position: relative;
        max-width: 200px;
        width: 100%;
      }
      }
  @media only screen and (min-width: 768px) {
    .timeline{
        background: var(--primary-color);
    margin: 20px auto;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    height: 495px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
    }
    .card {
        position: relative;
        max-width: 300px;
        width: 100%;
      }
      }
  @media only screen and (min-width: 820px) {
    .timeline{
        background: var(--primary-color);
    margin: 20px auto;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    height: 495px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
    }
    .card {
        position: relative;
        max-width: 300px;
        width: 100%;
      }
      }
      @media only screen and (min-width: 912px) {
        .timeline{
            background: var(--primary-color);
        margin: 20px auto;
        padding: 30px 0px;
        display: flex;
        justify-content: center;
        height: 575px;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        width: 100%;
        }
        .card {
            position: relative;
            max-width: 340px;
            width: 100%;
          }
          }
      @media only screen and (min-width: 1024px) {
        .timeline{
            background: var(--primary-color);
        margin: 20px auto;
        padding: 30px 0px;
        display: flex;
        justify-content: center;
        height: 635px;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        width: 100%;
        }
        .card {
            position: relative;
            max-width: 360px;
            width: 100%;
          }
          }
  @media only screen and (min-width: 1200px) {
    .timeline{
        background: var(--primary-color);
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    height: 630px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
    }
    .card {
        position: relative;
        max-width: 400px;
        width: 100%;
      }
      }